# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.env/

.idea/

anaconda_projects/

**/target/

grpc.iml
